@media (max-width: 768px) {

    /* 히어로 섹션 */
    .hero-section {
        height: 1024px;
    }

    .header-wrap {
        padding: 16px 32px !important;
    }

    .here-img-box {
        width: 1182px;
        height: 788px;
        bottom: -180px;
        right: -180px;
    }

    .gradient-white {
        background:
                linear-gradient(
                        176deg, rgba(255, 255, 255, 0) 60%,
                        rgba(255, 255, 255, 0.49) 71%,
                        rgba(255, 255, 255, 0.88) 85%,
                        #FFFFFF 95%) !important;
    }

    .hero-title-box {
        top: 106px;
        gap: 20px;
    }

    .hero-title {
        font-size: 56px !important;
    }

    .hero-rolling {
        width: 173.7px;
        height: 99px;
    }

    /* 특징 섹션 */
    .feature-wrap {
        padding: 24px;
    }

    .feature-card {
        flex-direction: column;
        padding: 12px 12px 40px 12px;
    }

    .feature-card.reverse {
        flex-direction: column-reverse;
    }

    .feature-mockup {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1 !important;
    }

    .feature-title {
        font-size: 36px;
        line-height: 54px;
        /*display: flex;*/
        /*gap: 14px;*/
    }

    .feature-btn {
        display: none;
    }

    .feature-text-box {
        padding: 0 48px;
    }

    /* 금액 섹션 */
    .price-wrap {
        padding: 80px 60px;
    }

    .price-box {
        align-items: center;
    }

    .price-text {
        font-size: 36px;
        text-align: center;
    }

    .price-text-bold {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .price-stat {
        align-items: center;
    }

    .price-stat-tit {
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }

    .price-stat-am {
        font-size: 32px;
        line-height: 44px;
    }

    .price-stat-icon {
        padding: 6.18px;
    }

    .price-stat-unit {
        font-size: 20px;
    }

    .price-text-sm {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    /* 연결 섹션 */
    .contact-title {
        display: flex;
        flex-direction:  column;
    }

    .footer-wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-logo {
        align-items: center;
    }

    .footer-menu {
        align-items: center;
        justify-content: center;
    }
    .footer-info {
        align-items: center;
        justify-content: center;
    }

    .footer-button {
        align-items: center;
        margin-top: 24px;
    }
}

@media (max-width: 375px) {
    /* 히어로 섹션 */
    .hero-section {
        height: 1300px;
    }

    .hero-title-box {
        top: 220px;
        gap: 20px;
    }

    /*.header-logo {*/
    /*    width: 100px;*/
    /*    height: auto;*/
    /*}*/

    /*.header-btn-text {*/
    /*    font-size: 10px;*/
    /*}*/

    /*.header-btn {*/
    /*    padding: 6px 10px 6px 12px*/
    /*}*/

    /*.header-btn-arrow {*/
    /*    width: 14px;*/
    /*    height: 14px;*/
    /*}*/
}